* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(86,86,86);
    background: radial-gradient(circle, rgba(86,86,86,1) 0%, rgba(40,35,35,0) 100%);
}

h1 {
    color: white;
    font-size: 4rem;
    padding-bottom: 20px;
}

.navbar {
    background: rgb(86,86,86);
    background: linear-gradient(304deg, rgba(86,86,86,1) 0%, rgba(40,35,35,0) 100%);
    box-shadow: 0px 10px 10px 0px rgba(169, 162, 162, 0.75);
    opacity: 0.8;
}

.navbar-brand img {
    height: 50px;
  }

.carousel-item img {
    border-radius: 0 0 10px 10px;

}
.carousel-buttons { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}

.carousel-buttons a.btn {
    background-color: rgb(215, 215, 221);
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    box-shadow: 0px 10px 10px 0px rgba(169, 162, 162, 0.75);
}

.innerContent {
    display: flex;
    flex-direction: column;
    width: 25%;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    opacity: 0.7;
}
  