body {
    padding: 0;
    margin: 0;
    background: rgb(86,86,86);
    background: radial-gradient(circle, rgba(86,86,86,1) 0%, rgba(40,35,35,0) 100%);
}

main {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.navbar {
    background: rgb(86,86,86);
    background: linear-gradient(304deg, rgba(86,86,86,1) 0%, rgba(40,35,35,0) 100%);
    box-shadow: 0px 10px 10px 0px rgba(169, 162, 162, 0.75);
}

.mountainBanner {
    background: url("/images/mountainpage/mountains-banner.jpg");
    background-size: cover;
    width: 100%;
    height: 25vh;
    box-shadow: 0px 10px 10px 0px rgba(169, 162, 162, 0.75);
    border-radius: 0px 0px 10px 10px
}

.allMountainsContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 10px;
    position: absolute;
    top: 10%;
}

.allMountainsContainer div {
    width: 25%;
}

.mountainInfoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
    width: 25vw;
    position: fixed;
}

#viewAllMountains {
    background-color: rgb(214, 205, 205);
    box-shadow: 0px 10px 10px 0px rgba(169, 162, 162, 0.75); 
}

#mountain, #displayMountainsBtn {
    width: 50%;
}

#displayMountainsBtn {
    background-color: rgb(214, 205, 205);
    box-shadow: 0px 10px 10px 0px rgba(169, 162, 162, 0.75); 
}

#displayAllMountains {
    display: flex;
    justify-content: space-evenly;
    max-height: 800px; 
    overflow-y: auto;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0px 10px 10px 0px rgba(169, 162, 162, 0.75);
}

.card img {
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
    transition: 0.5s all ease-in-out;
}

.card:hover img {
    transform: scale(1.2);
}
.card-text {
    max-height: 150px;
    overflow-y: auto;
    font-size: 0.8rem;
}

.card-title {
    font-size: 1.5rem;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
}
