* {
  padding: 0;
  margin: 0;
  font-family: 'Droid serif', serif; 
}

body {
    margin: 0;
    padding: 0;
    background: rgb(86,86,86);
    background: radial-gradient(circle, rgba(86,86,86,1) 0%, rgba(40,35,35,0.5886729691876751) 54%);
}

.navbar {
    background: rgb(86,86,86);
    background: linear-gradient(304deg, rgba(86,86,86,1) 0%, rgba(40,35,35,0) 100%);
    box-shadow: 0px 10px 10px 0px rgba(169, 162, 162, 0.75);
    opacity: 0.9;
}

.navbar-brand img {
  height: 50px;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    filter: blur(2px);
}

.centered-content {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
}

.form-select {
    margin: 5px;
}

.search-section {
    margin-top: 10px;
}

/* Buttons */
#locationBtn, #parktypeBtn, #clearSearchBtn {
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  text-align: center;
  width: 15vw;
  margin: 5px;
  padding: 5px;
}


#locationBtn:focus, #parktypeBtn:focus, #clearSearchBtn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#locationBtn:hover, #parktypeBtn:hover, #clearSearchBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#locationBtn:active, #parktypeBtn:active, #clearSearchBtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#clearSearchBtn {
  width: 5vw;
}

#myParks {
  margin-top: -450px;
  margin-left: 10px;
  margin-right: 10px;
  max-height: 450px;
  overflow-y: auto;
  background-color: rgb(181, 177, 177);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
}

.card {
  transition: all 0.2s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 6px 2px #e9ecef;
  transform: scale(1.1);
}

.footercontainer {
  height: 100%;
}
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  opacity: 0.7;
}
